<!DOCTYPE html>
<html>
<head>

<% include partials/styles.ejs %>

<script>
var count = 0;
function counter()
{
  this.innerHTML = count +1;
}
</script>

<script type="text/javascript">

    function loadProfile(elmnt) {
        location.href = "/profile/"+ encodeURI(elmnt);

    }

</script>


</head>
<% include partials/nav.ejs %>
<body>

  <h1 id = "grad2">  ARTIST</h1>
  <div id = "grad" class = "profile">

<img src= <%= data.picture_url %> alt="Smiley face" height="300" width="300" >
<div id= "info">
  <h3 id = "artistName"> <%= data.artist_name %></h3>
  <h3>Genre: <%= data.genre %></h3>
  <h3>Followers: <%= data.artist_followers %></h3>
  <a class = "socialIcon" href = <%= twitter.url %>  > <img src = "http://icons.iconarchive.com/icons/iconsmind/outline/256/Twitter-icon.png" height = "40" width = "40"> </a>
  <a class = "socialIcon" href = <%= twitter.url %>  > <img src = "https://png.icons8.com/ios/1600/instagram-new.png" height = "40" width = "40"> </a>
</div>
   </div>
   <div id= "bio" >
     <h2 class = "title"> Biography </h2>
    <p id = "bio-info">
      <%= bio %>
    </p>
   </div>

</body>
<% include partials/footer.ejs %>
<script>
document.getElementById("myInput2")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      console.log("enter pressed");
      var input, value;
      input = document.getElementById('myInput2');
      value = input.value;
      location.href = "/search/"+value;
    }
});
</script>
</html>
